* {
    box-sizing: border-box;
}

body {
    background-image: url("/static/images/hero-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.form-container h2 {
    text-align: center;
}

form {
    display: flex;
    flex-flow: column;
    margin-top: 20px;
}

form label {
    margin: 10px 0 5px 0;
}

form input[type=text], form input[type=email], form textarea {
    padding: 10px;
    margin-bottom: 20px;
    resize: vertical;
}

form input[type=submit] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type=submit]:hover {
    background-color: #45a049;
}
